body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #FDF6F0;
}

canvas{
    margin:0;
    padding: 0;
}
#block{
    margin: -4px 0;
}

div{
    text-align: center;
    font-family: 'Comic Sans';
    font-weight: bold;
    color: #4C4C6D;
}